@media only screen and (max-width: 1280px) {
	.header__section-title {
		font-size: 64px;
	}

	button {
		padding: 12px 60px;
	}
}

@media only screen and (max-width: 1024px) {
	.header__section-title {
		font-size: 54px;
	}

	button {
		padding: 10px 50px;
	}

	.journey__card {
		width: 360px;
	}

	.journey__card-info__title {
		font-size: 26px;
	}

	.journey__card-info p {
		font-weight: 300;
		font-size: 14px;
	}

	.content {
		gap: 50px;
	}
}

@media only screen and (max-width: 820px) {
	.journey__card {
		width: 330px;
	}
}

@media only screen and (max-width: 768px) {
	.header__section-title {
		width: 69%;
		font-size: 48px;
		margin: 0 0 30px 0;
	}

	button {
		padding: 8px 40px;
	}

	.header__section {
		margin: 150px auto;
	}

	.content {
		flex-flow: row wrap;
	}

	.journey__card {
		flex: 1 100%;
	}

	.journey__card-info__title {
		font-size: 22px;
	}

	.journey__card-info p {
		font-weight: 300;
		font-size: 12px;
	}
}

@media only screen and (max-width: 480px) {
	.header__navigation nav {
		display: none;
	}

	.header__navigation-menuIsOpen {
		display: block;
	}

	header {
		background-image: url('../assets/images/mobile__header.png');
	}

	.nav__link {
		display: block;
		font-size: 24px;
		margin-bottom: 30px;
	}

	.header__section-title {
		min-width: 60%;
		font-size: 36px;
		margin: 0 0 30px 0;
	}

	.showDesktop {
		display: none;
	}

	.showMobile {
		text-align: end;
		margin-top: 30px;
		display: block;
	}

}

@media only screen and (max-width: 320px) {
	.header__section-title {
		width: 100%;
		font-size: 30px;
		margin: 0 0 20px 0;
	}

	button {
		padding: 8px 30px;
	}

	.header__section {
		margin: 150px auto;
	}
}